<p>USER:{{user.name}}{{user.lastName}}
</p>
<p>USUARIO EMAIL:{{user.email}}</p>

<div id="cart">

</div>
<a type="button"><aside id="verTicket" style="font-size: 30px;
                            text-align: center">VER TICKET</aside></a>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/cartView.js"></script>
