<header>
    <div class="alert alert-primary" role="alert">
    Felicidades <a href="#" class="alert-link">Tu usuario ha sido autenticado</a>. con exito.
    </div>
    <a type="button" href="/api/verCarrito"><aside id="cart" style="font-size: 30px;
                            text-align: center">CART</aside></a>
</header>
<nav>
    <p>USUARIO EMAIL:{{user.email}}</p>
    <div id="producto">
     
    </div>

  
</nav> 

  

<script src="/socket.io/socket.io.js"></script>
<script src="/js/profile.js"></script>
