<header>
    <a type="button" href="/api/verCarrito"><aside id="cart" style="font-size: 30px;
                            text-align: center">CART</aside></a>
</header>
<nav>
    <article id="list-products">
      
    </article>
    <a type="button"href="/api/verCarrito"></a>><aside id="cart" style="font-size: 30px;
                            text-align: center">CART</aside></a>
</nav>
       

<script src="/socket.io/socket.io.js"></script>
<script src="/js/profile.js"></script>
